
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_WebSiteLayout.cshtml";
}

<div class=" w3_agileits_contact_grid_right">
    <div class="row" style="padding-top: 10%;"></div>
    <center>
        <img src="~/img/404.png" style="max-width: 60%" />
    </center>
    <div class="row" style="padding-top: 10%;"></div>

</div>
<div class="clearfix"> </div>

