@{
    Layout = "";
}

@*@model*@

<html>
    <body>


        <form asp-controller="Announcement" asp-action="Post" method="post" >
            @*<textarea asp-for="Text" >
                
            </textarea>*@
            <input type="submit" value="submit" />
        </form>

    </body>
</html>