<div id="examples" class="container py-2">

  

    <div class="row">
        <div class="col">
            <hr class="solid my-5">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h4>WaitList</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h4 >Unfortuantely  We Are Unable To Accept Your Booking Request At This Time.</h4>
            <h4 >You Will Be Contacted By AccoladConcierge Team As Soon As Possible.</h4>
        </div>
       
    </div>

    <div class="row">
        <div class="col">
            <hr class="solid my-5">
        </div>
    </div>

    

</div>