
        <div role="main" class="main">

            <section class="section section-concept section-no-border section-dark section-angled section-angled-reverse pt-5 m-0" style="background-image: url(img/landing/header_bg.jpg); background-size: cover; background-position: center; animation-duration: 750ms; animation-delay: 300ms; animation-fill-mode: forwards; min-height: 645px;">
                <div class="section-angled-layer-bottom section-angled-layer-increase-angle bg-light" style="padding: 8rem 0;"></div>
                <div class="container pt-lg-5 mt-5">
                    <div class="row pt-3 pb-lg-0 pb-xl-0">
                        <div class="col-lg-6 pt-4 mb-5 mb-lg-0">
                            <ul class="breadcrumb font-weight-semibold text-4 negative-ls-1">
                                <li><a href="index.html">Home</a></li>
                                <li class="text-color-primary"><a href="elements.html">Elements</a></li>
                                <li class="active text-color-primary">Call to Action</li>
                            </ul>
                            <h1 class="font-weight-bold text-10 text-xl-12 line-height-2 mb-3">Call to Action</h1>
                            <p class="font-weight-light opacity-7 pb-2 mb-4">Tons of call to action types to highlight informations and direct your website users.</p>
                            <a href="#examples" data-hash data-hash-offset="100" class="btn btn-gradient-primary font-weight-semi-bold px-4 btn-py-2 text-3">View Examples <i class="fas fa-arrow-down ms-1"></i></a>
                            <a href="https://themeforest.net/checkout/from_item/4106987?license=regular&support=bundle_6month&ref=Okler" class="btn btn-light btn-outline btn-outline-thin btn-outline-light-opacity-2 font-weight-semi-bold px-4 btn-py-2 text-3 text-color-light text-color-hover-dark ms-2" target="_blank">Buy Porto <i class="fas fa-external-link-alt ms-1"></i></a>
                        </div>

                    </div>
                </div>
            </section>

            <div id="examples" class="container py-2">

                <div class="row">
                    <div class="col">
                        <h4>Default</h4>
                        <section class="call-to-action mb-5">
                            <div class="col-sm-9 col-lg-9">
                                <div class="call-to-action-content">
                                    <h3>Porto is <strong class="font-weight-extra-bold">everything</strong> you need to create a <strong class="font-weight-extra-bold">website!</strong></h3>
                                    <p class="mb-0">The Best HTML Site Template on ThemeForest</p>
                                </div>
                            </div>
                            <div class="col-sm-3 col-lg-3">
                                <div class="call-to-action-btn">
                                    <a href="http://themeforest.net/item/porto-responsive-html5-template/4106987" target="_blank" class="btn btn-modern text-2 btn-primary">Buy Now</a>
                                </div>
                            </div>
                        </section>

                        <hr class="solid my-5">

                        <h4>Borders</h4>
                        <section class="call-to-action with-borders mb-5">
                            <div class="col-sm-9 col-lg-9">
                                <div class="call-to-action-content">
                                    <h3>Porto is <strong class="font-weight-extra-bold">everything</strong> you need to create a <strong class="font-weight-extra-bold">website!</strong></h3>
                                    <p class="mb-0">The Best HTML Site Template on ThemeForest</p>
                                </div>
                            </div>
                            <div class="col-sm-3 col-lg-3">
                                <div class="call-to-action-btn">
                                    <a href="http://themeforest.net/item/porto-responsive-html5-template/4106987" target="_blank" class="btn btn-modern text-2 btn-primary">Buy Now</a>
                                </div>
                            </div>
                        </section>

                        <section class="call-to-action with-full-borders mb-5">
                            <div class="col-sm-9 col-lg-9">
                                <div class="call-to-action-content">
                                    <h3>Porto is <strong class="font-weight-extra-bold">everything</strong> you need to create a <strong class="font-weight-extra-bold">website!</strong></h3>
                                    <p class="mb-0">The Best HTML Site Template on ThemeForest</p>
                                </div>
                            </div>
                            <div class="col-sm-3 col-lg-3">
                                <div class="call-to-action-btn">
                                    <a href="http://themeforest.net/item/porto-responsive-html5-template/4106987" target="_blank" class="btn btn-modern text-2 btn-primary">Buy Now</a>
                                </div>
                            </div>
                        </section>

                        <hr class="solid my-5">

                        <h4>Featured</h4>
                        <section class="call-to-action featured featured-primary mb-5">
                            <div class="col-sm-9 col-lg-9">
                                <div class="call-to-action-content">
                                    <h3>Porto is <strong class="font-weight-extra-bold">everything</strong> you need to create a <strong class="font-weight-extra-bold">website!</strong></h3>
                                    <p class="mb-0">The Best HTML Site Template on ThemeForest</p>
                                </div>
                            </div>
                            <div class="col-sm-3 col-lg-3">
                                <div class="call-to-action-btn">
                                    <a href="http://themeforest.net/item/porto-responsive-html5-template/4106987" target="_blank" class="btn btn-modern text-2 btn-primary">Buy Now</a>
                                </div>
                            </div>
                        </section>

                        <section class="call-to-action featured featured-secondary mb-5">
                            <div class="col-sm-9 col-lg-9">
                                <div class="call-to-action-content">
                                    <h3>Porto is <strong class="font-weight-extra-bold">everything</strong> you need to create a <strong class="font-weight-extra-bold">website!</strong></h3>
                                    <p class="mb-0">The Best HTML Site Template on ThemeForest</p>
                                </div>
                            </div>
                            <div class="col-sm-3 col-lg-3">
                                <div class="call-to-action-btn">
                                    <a href="http://themeforest.net/item/porto-responsive-html5-template/4106987" target="_blank" class="btn btn-modern text-2 btn-secondary">Buy Now</a>
                                </div>
                            </div>
                        </section>

                        <section class="call-to-action featured featured-tertiary mb-5">
                            <div class="col-sm-9 col-lg-9">
                                <div class="call-to-action-content">
                                    <h3>Porto is <strong class="font-weight-extra-bold">everything</strong> you need to create a <strong class="font-weight-extra-bold">website!</strong></h3>
                                    <p class="mb-0">The Best HTML Site Template on ThemeForest</p>
                                </div>
                            </div>
                            <div class="col-sm-3 col-lg-3">
                                <div class="call-to-action-btn">
                                    <a href="http://themeforest.net/item/porto-responsive-html5-template/4106987" target="_blank" class="btn btn-modern text-2 btn-tertiary">Buy Now</a>
                                </div>
                            </div>
                        </section>

                        <section class="call-to-action featured featured-quaternary mb-5">
                            <div class="col-sm-9 col-lg-9">
                                <div class="call-to-action-content">
                                    <h3>Porto is <strong class="font-weight-extra-bold">everything</strong> you need to create a <strong class="font-weight-extra-bold">website!</strong></h3>
                                    <p class="mb-0">The Best HTML Site Template on ThemeForest</p>
                                </div>
                            </div>
                            <div class="col-sm-3 col-lg-3">
                                <div class="call-to-action-btn">
                                    <a href="http://themeforest.net/item/porto-responsive-html5-template/4106987" target="_blank" class="btn btn-modern text-2 btn-quaternary">Buy Now</a>
                                </div>
                            </div>
                        </section>

                        <hr class="solid my-5">

                        <h4>Colors</h4>
                        <section class="call-to-action call-to-action-primary mb-5">
                            <div class="col-sm-9 col-lg-9">
                                <div class="call-to-action-content">
                                    <h3>Porto is <strong>everything</strong> you need to create a <strong>website!</strong></h3>
                                    <p class="mb-0 opacity-7">The Best HTML Site Template on ThemeForest</p>
                                </div>
                            </div>
                            <div class="col-sm-3 col-lg-3">
                                <div class="call-to-action-btn">
                                    <a href="http://themeforest.net/item/porto-responsive-html5-template/4106987" target="_blank" class="btn btn-modern text-2 btn-light border-0">Buy Now</a>
                                </div>
                            </div>
                        </section>

                        <section class="call-to-action call-to-action-secondary mb-5">
                            <div class="col-sm-9 col-lg-9">
                                <div class="call-to-action-content">
                                    <h3>Porto is <strong>everything</strong> you need to create a <strong>website!</strong></h3>
                                    <p class="mb-0 opacity-7">The Best HTML Site Template on ThemeForest</p>
                                </div>
                            </div>
                            <div class="col-sm-3 col-lg-3">
                                <div class="call-to-action-btn">
                                    <a href="http://themeforest.net/item/porto-responsive-html5-template/4106987" target="_blank" class="btn btn-modern text-2 btn-light border-0">Buy Now</a>
                                </div>
                            </div>
                        </section>

                        <section class="call-to-action call-to-action-tertiary mb-5">
                            <div class="col-sm-9 col-lg-9">
                                <div class="call-to-action-content">
                                    <h3>Porto is <strong>everything</strong> you need to create a <strong>website!</strong></h3>
                                    <p class="mb-0 opacity-7">The Best HTML Site Template on ThemeForest</p>
                                </div>
                            </div>
                            <div class="col-sm-3 col-lg-3">
                                <div class="call-to-action-btn">
                                    <a href="http://themeforest.net/item/porto-responsive-html5-template/4106987" target="_blank" class="btn btn-modern text-2 btn-light border-0">Buy Now</a>
                                </div>
                            </div>
                        </section>

                        <section class="call-to-action call-to-action-quaternary mb-5">
                            <div class="col-sm-9 col-lg-9">
                                <div class="call-to-action-content">
                                    <h3>Porto is <strong>everything</strong> you need to create a <strong>website!</strong></h3>
                                    <p class="mb-0 opacity-7">The Best HTML Site Template on ThemeForest</p>
                                </div>
                            </div>
                            <div class="col-sm-3 col-lg-3">
                                <div class="call-to-action-btn">
                                    <a href="http://themeforest.net/item/porto-responsive-html5-template/4106987" target="_blank" class="btn btn-modern text-2 btn-light border-0">Buy Now</a>
                                </div>
                            </div>
                        </section>

                        <section class="call-to-action call-to-action-default mb-5">
                            <div class="col-sm-9 col-lg-9">
                                <div class="call-to-action-content">
                                    <h3>Porto is <strong>everything</strong> you need to create a <strong>website!</strong></h3>
                                    <p class="mb-0">The Best HTML Site Template on ThemeForest</p>
                                </div>
                            </div>
                            <div class="col-sm-3 col-lg-3">
                                <div class="call-to-action-btn">
                                    <a href="http://themeforest.net/item/porto-responsive-html5-template/4106987" target="_blank" class="btn btn-modern text-2 btn-light">Buy Now</a>
                                </div>
                            </div>
                        </section>

                        <hr class="solid my-5">

                        <h4>With Arrow</h4>
                        <section class="call-to-action with-borders with-button-arrow mb-5">
                            <div class="col-sm-9 col-lg-9">
                                <div class="call-to-action-content">
                                    <h3>Porto is <strong class="font-weight-extra-bold">everything</strong> you need to create a <strong class="font-weight-extra-bold">website!</strong></h3>
                                    <p class="mb-0">The Best HTML Site Template on ThemeForest</p>
                                </div>
                            </div>
                            <div class="col-sm-3 col-lg-3">
                                <div class="call-to-action-btn">
                                    <a href="http://themeforest.net/item/porto-responsive-html5-template/4106987" target="_blank" class="btn btn-modern text-2 btn-primary">Buy Now</a><span class="arrow hlb d-none d-md-block" data-appear-animation="rotateInUpLeft" style="left: 100%; top: -32px;"></span>
                                </div>
                            </div>
                        </section>

                        <hr class="solid my-5">

                        <h4>Animated</h4>
                        <section class="call-to-action with-borders mb-5 appear-animation" data-appear-animation="fadeIn">
                            <div class="col-sm-9 col-lg-9">
                                <div class="call-to-action-content">
                                    <h3>Porto is <strong class="font-weight-extra-bold">everything</strong> you need to create a <strong class="font-weight-extra-bold">website!</strong></h3>
                                    <p class="mb-0">The Best HTML Site Template on ThemeForest</p>
                                </div>
                            </div>
                            <div class="col-sm-3 col-lg-3">
                                <div class="call-to-action-btn">
                                    <a href="http://themeforest.net/item/porto-responsive-html5-template/4106987" target="_blank" class="btn btn-modern text-2 btn-primary">Buy Now</a>
                                </div>
                            </div>
                        </section>

                        <hr class="solid my-5">

                        <h4>Button Centered</h4>
                        <section class="call-to-action with-borders button-centered mb-5">
                            <div class="col-12">
                                <div class="call-to-action-content">
                                    <h3>Porto is <strong class="font-weight-extra-bold">everything</strong> you need to create a <strong class="font-weight-extra-bold">website!</strong></h3>
                                    <p class="mb-0">The Best HTML Site Template on ThemeForest</p>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="call-to-action-btn">
                                    <a href="http://themeforest.net/item/porto-responsive-html5-template/4106987" target="_blank" class="btn btn-modern text-2 btn-primary">Buy Now</a>
                                </div>
                            </div>
                        </section>

                        <hr class="solid my-5">

                        <h4>Small</h4>
                        <div class="row">
                            <div class="col-lg-4">
                                <section class="call-to-action with-borders button-centered mb-5">
                                    <div class="col-12">
                                        <div class="call-to-action-content">
                                            <h3 class="line-height-3">Porto is <strong>everything</strong> you need to create a <strong>website!</strong></h3>
                                            <p class="mb-0">The Best HTML Site Template on ThemeForest</p>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="call-to-action-btn">
                                            <a href="http://themeforest.net/item/porto-responsive-html5-template/4106987" target="_blank" class="btn btn-modern text-2 btn-primary">Buy Now</a>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <div class="col-lg-4">
                                <section class="call-to-action call-to-action-primary button-centered mb-5">
                                    <div class="col-12">
                                        <div class="call-to-action-content">
                                            <h3 class="line-height-3">Porto is <strong>everything</strong> you need to create a <strong>website!</strong></h3>
                                            <p class="mb-0 opacity-7">The Best HTML Site Template on ThemeForest</p>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="call-to-action-btn">
                                            <a href="http://themeforest.net/item/porto-responsive-html5-template/4106987" target="_blank" class="btn btn-modern text-2 btn-light border-0">Buy Now</a>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <div class="col-lg-4">
                                <section class="call-to-action call-to-action-quaternary button-centered mb-5">
                                    <div class="col-12">
                                        <div class="call-to-action-content">
                                            <h3 class="line-height-3">Porto is <strong>everything</strong> you need to create a <strong>website!</strong></h3>
                                            <p class="mb-0 opacity-7">The Best HTML Site Template on ThemeForest</p>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="call-to-action-btn">
                                            <a href="http://themeforest.net/item/porto-responsive-html5-template/4106987" target="_blank" class="btn btn-modern text-2 btn-primary">Buy Now</a>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>

                        <hr class="solid my-5">
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col">
                        <h4>Full Width</h4>
                    </div>
                </div>
            </div>

            <section class="call-to-action call-to-action-primary mb-5">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-9 col-lg-9">
                            <div class="call-to-action-content">
                                <h3>Porto is <strong>everything</strong> you need to create a <strong>website!</strong></h3>
                                <p class="mb-0">The Best HTML Site Template on ThemeForest</p>
                            </div>
                        </div>
                        <div class="col-sm-3 col-lg-3">
                            <div class="call-to-action-btn">
                                <a href="http://themeforest.net/item/porto-responsive-html5-template/4106987" target="_blank" class="btn btn-modern text-2 btn-light border-0">Buy Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="call-to-action call-to-action-dark mb-5">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-9 col-lg-9">
                            <div class="call-to-action-content">
                                <h3>Porto is <strong>everything</strong> you need to create a <strong>website!</strong></h3>
                                <p class="mb-0">The Best HTML Site Template on ThemeForest</p>
                            </div>
                        </div>
                        <div class="col-sm-3 col-lg-3">
                            <div class="call-to-action-btn">
                                <a href="http://themeforest.net/item/porto-responsive-html5-template/4106987" target="_blank" class="btn btn-modern text-2 btn-light border-0">Buy Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="call-to-action call-to-action-default mb-5">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-9 col-lg-9">
                            <div class="call-to-action-content">
                                <h3>Porto is <strong class="font-weight-extra-bold">everything</strong> you need to create a <strong class="font-weight-extra-bold">website!</strong></h3>
                                <p class="mb-0">The Best HTML Site Template on ThemeForest</p>
                            </div>
                        </div>
                        <div class="col-sm-3 col-lg-3">
                            <div class="call-to-action-btn">
                                <a href="http://themeforest.net/item/porto-responsive-html5-template/4106987" target="_blank" class="btn btn-modern text-2 btn-light">Buy Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="call-to-action with-borders mb-5">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-9 col-lg-9">
                            <div class="call-to-action-content">
                                <h3>Porto is <strong class="font-weight-extra-bold">everything</strong> you need to create a <strong class="font-weight-extra-bold">website!</strong></h3>
                                <p class="mb-0">The Best HTML Site Template on ThemeForest</p>
                            </div>
                        </div>
                        <div class="col-sm-3 col-lg-3">
                            <div class="call-to-action-btn">
                                <a href="http://themeforest.net/item/porto-responsive-html5-template/4106987" target="_blank" class="btn btn-modern text-2 btn-light">Buy Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <div class="container">
                <div class="row">
                    <div class="col">
                        <hr class="solid my-5">

                        <h4>Parallax</h4>
                    </div>
                </div>
            </div>

            <section class="parallax section section-text-light section-parallax" data-plugin-parallax data-plugin-options="{'speed': 1.5, 'parallaxHeight': '210%'}" data-image-src="img/parallax/parallax-2.jpg">
                <section class="call-to-action">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-9 col-lg-9">
                                <div class="call-to-action-content">
                                    <h3>Porto is <strong class="font-weight-extra-bold">everything</strong> you need to create a <strong class="font-weight-extra-bold">website!</strong></h3>
                                    <p class="mb-0">The Best HTML Site Template on ThemeForest</p>
                                </div>
                            </div>
                            <div class="col-sm-3 col-lg-3">
                                <div class="call-to-action-btn">
                                    <a href="http://themeforest.net/item/porto-responsive-html5-template/4106987" target="_blank" class="btn btn-modern text-2 btn-primary">Buy Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </section>

            <div class="container">
                <div class="row">
                    <div class="col">
                        <hr class="solid my-5">

                        <h4>Footer</h4>
                    </div>
                </div>
            </div>

            <section class="call-to-action call-to-action-default with-button-arrow call-to-action-in-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-9 col-lg-9">
                            <div class="call-to-action-content">
                                <h3>Porto is <strong class="font-weight-extra-bold">everything</strong> you need to create a <strong class="font-weight-extra-bold">website!</strong></h3>
                                <p class="mb-0">The Best HTML Site Template on ThemeForest</p>
                            </div>
                        </div>
                        <div class="col-sm-3 col-lg-3">
                            <div class="call-to-action-btn">
                                <a href="http://themeforest.net/item/porto-responsive-html5-template/4106987" target="_blank" class="btn btn-modern text-2 btn-primary">Buy Now</a><span class="arrow hlb d-none d-md-block" data-appear-animation="rotateInUpLeft" style="left: 110%; top: -40px;"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <div class="pt-5">
                <section id="elements" class="section section-height-2 border-0 mt-5 mb-0 pt-5">

                    <div class="container py-2">
                        <div class="row mt-3 pb-4">
                            <div class="col text-center">
                                <h2 class="font-weight-bold mb-0">Porto Elements</h2>
                                <p class="lead text-4 pt-2 font-weight-normal">Porto comes with several elements options, it's easy to customize<br> and create the content of your website's pages.</p>
                            </div>
                        </div>
                        <div class="row justify-content-center">

                            <div class="col-6 col-sm-4 col-lg-2">
                                <div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
                                    <div class="featured-box featured-box-no-borders featured-box-box-shadow">
                                        <a href="elements-accordions.html" class="text-decoration-none">
                                            <span class="box-content px-1 py-4 text-center d-block">
                                                <span class="text-primary text-8 position-relative top-3 mt-3"><i class="fas fa-bars"></i></span>
                                                <span class="elements-list-shadow-icon text-default"><i class="fas fa-bars"></i></span>
                                                <span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Accordions</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6 col-sm-4 col-lg-2">
                                <div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
                                    <div class="featured-box featured-box-no-borders featured-box-box-shadow">
                                        <a href="elements-toggles.html" class="text-decoration-none">
                                            <span class="box-content px-1 py-4 text-center d-block">
                                                <span class="text-primary text-8 position-relative top-3 mt-3"><i class="fas fa-indent"></i></span>
                                                <span class="elements-list-shadow-icon text-default"><i class="fas fa-indent"></i></span>
                                                <span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Toggles</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6 col-sm-4 col-lg-2">
                                <div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
                                    <div class="featured-box featured-box-no-borders featured-box-box-shadow">
                                        <a href="elements-tabs.html" class="text-decoration-none">
                                            <span class="box-content px-1 py-4 text-center d-block">
                                                <span class="text-primary text-8 position-relative top-3 mt-3"><i class="fas fa-columns"></i></span>
                                                <span class="elements-list-shadow-icon text-default"><i class="fas fa-columns"></i></span>
                                                <span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Tabs</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6 col-sm-4 col-lg-2">
                                <div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
                                    <div class="featured-box featured-box-no-borders featured-box-box-shadow">
                                        <a href="elements-icons.html" class="text-decoration-none">
                                            <span class="box-content px-1 py-4 text-center d-block">
                                                <span class="text-primary text-8 position-relative top-3 mt-3"><i class="fas fa-check"></i></span>
                                                <span class="elements-list-shadow-icon text-default"><i class="fas fa-check"></i></span>
                                                <span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Icons</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6 col-sm-4 col-lg-2">
                                <div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
                                    <div class="featured-box featured-box-no-borders featured-box-box-shadow">
                                        <a href="elements-icon-boxes.html" class="text-decoration-none">
                                            <span class="box-content px-1 py-4 text-center d-block">
                                                <span class="text-primary text-8 position-relative top-3 mt-3"><i class="far fa-check-circle"></i></span>
                                                <span class="elements-list-shadow-icon text-default"><i class="far fa-check-circle"></i></span>
                                                <span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Icon Boxes</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6 col-sm-4 col-lg-2">
                                <div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
                                    <div class="featured-box featured-box-no-borders featured-box-box-shadow">
                                        <a href="elements-carousels.html" class="text-decoration-none">
                                            <span class="box-content px-1 py-4 text-center d-block">
                                                <span class="text-primary text-8 position-relative top-3 mt-3"><i class="fas fa-ellipsis-h"></i></span>
                                                <span class="elements-list-shadow-icon text-default"><i class="fas fa-ellipsis-h"></i></span>
                                                <span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Carousels</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6 col-sm-4 col-lg-2">
                                <div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
                                    <div class="featured-box featured-box-no-borders featured-box-box-shadow">
                                        <a href="elements-modals.html" class="text-decoration-none">
                                            <span class="box-content px-1 py-4 text-center d-block">
                                                <span class="text-primary text-8 position-relative top-3 mt-3"><i class="fas fa-expand"></i></span>
                                                <span class="elements-list-shadow-icon text-default"><i class="fas fa-expand"></i></span>
                                                <span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Modals</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6 col-sm-4 col-lg-2">
                                <div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
                                    <div class="featured-box featured-box-no-borders featured-box-box-shadow">
                                        <a href="elements-lightboxes.html" class="text-decoration-none">
                                            <span class="box-content px-1 py-4 text-center d-block">
                                                <span class="text-primary text-8 position-relative top-3 mt-3"><i class="far fa-clone"></i></span>
                                                <span class="elements-list-shadow-icon text-default"><i class="far fa-clone"></i></span>
                                                <span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Lightboxes</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6 col-sm-4 col-lg-2">
                                <div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
                                    <div class="featured-box featured-box-no-borders featured-box-box-shadow">
                                        <a href="elements-buttons.html" class="text-decoration-none">
                                            <span class="box-content px-1 py-4 text-center d-block">
                                                <span class="text-primary text-8 position-relative top-3 mt-3"><i class="fas fa-minus"></i></span>
                                                <span class="elements-list-shadow-icon text-default"><i class="fas fa-minus"></i></span>
                                                <span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Buttons</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6 col-sm-4 col-lg-2">
                                <div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
                                    <div class="featured-box featured-box-no-borders featured-box-box-shadow">
                                        <a href="elements-badges.html" class="text-decoration-none">
                                            <span class="box-content px-1 py-4 text-center d-block">
                                                <span class="text-primary text-8 position-relative top-3 mt-3"><i class="fas fa-stream"></i></span>
                                                <span class="elements-list-shadow-icon text-default"><i class="fas fa-stream"></i></span>
                                                <span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Badges</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6 col-sm-4 col-lg-2">
                                <div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
                                    <div class="featured-box featured-box-no-borders featured-box-box-shadow">
                                        <a href="elements-lists.html" class="text-decoration-none">
                                            <span class="box-content px-1 py-4 text-center d-block">
                                                <span class="text-primary text-8 position-relative top-3 mt-3"><i class="fas fa-list-ul"></i></span>
                                                <span class="elements-list-shadow-icon text-default"><i class="fas fa-list-ul"></i></span>
                                                <span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Lists</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6 col-sm-4 col-lg-2">
                                <div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
                                    <div class="featured-box featured-box-no-borders featured-box-box-shadow">
                                        <a href="elements-cards.html" class="text-decoration-none">
                                            <span class="box-content px-1 py-4 text-center d-block">
                                                <span class="text-primary text-8 position-relative top-3 mt-3"><i class="fab fa-buffer"></i></span>
                                                <span class="elements-list-shadow-icon text-default"><i class="fab fa-buffer"></i></span>
                                                <span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Cards</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6 col-sm-4 col-lg-2">
                                <div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
                                    <div class="featured-box featured-box-no-borders featured-box-box-shadow">
                                        <a href="elements-image-gallery.html" class="text-decoration-none">
                                            <span class="box-content px-1 py-4 text-center d-block">
                                                <span class="text-primary text-8 position-relative top-3 mt-3"><i class="far fa-file-image"></i></span>
                                                <span class="elements-list-shadow-icon text-default"><i class="far fa-file-image"></i></span>
                                                <span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Image Gallery</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6 col-sm-4 col-lg-2">
                                <div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
                                    <div class="featured-box featured-box-no-borders featured-box-box-shadow">
                                        <a href="elements-image-frames.html" class="text-decoration-none">
                                            <span class="box-content px-1 py-4 text-center d-block">
                                                <span class="text-primary text-8 position-relative top-3 mt-3"><i class="far fa-image"></i></span>
                                                <span class="elements-list-shadow-icon text-default"><i class="far fa-image"></i></span>
                                                <span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Image Frames</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6 col-sm-4 col-lg-2">
                                <div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
                                    <div class="featured-box featured-box-no-borders featured-box-box-shadow">
                                        <a href="elements-image-hotspots.html" class="text-decoration-none">
                                            <span class="box-content px-1 py-4 text-center d-block">
                                                <span class="text-primary text-8 position-relative top-3 mt-3"><i class="far fa-hand-point-up"></i></span>
                                                <span class="elements-list-shadow-icon text-default"><i class="far fa-hand-point-up"></i></span>
                                                <span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Image Hotspots</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6 col-sm-4 col-lg-2">
                                <div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
                                    <div class="featured-box featured-box-no-borders featured-box-box-shadow">
                                        <a href="elements-testimonials.html" class="text-decoration-none">
                                            <span class="box-content px-1 py-4 text-center d-block">
                                                <span class="text-primary text-8 position-relative top-3 mt-3"><i class="far fa-comments"></i></span>
                                                <span class="elements-list-shadow-icon text-default"><i class="far fa-comments"></i></span>
                                                <span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Testimonials</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6 col-sm-4 col-lg-2">
                                <div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
                                    <div class="featured-box featured-box-no-borders featured-box-box-shadow">
                                        <a href="elements-blockquotes.html" class="text-decoration-none">
                                            <span class="box-content px-1 py-4 text-center d-block">
                                                <span class="text-primary text-8 position-relative top-3 mt-3"><i class="fas fa-quote-left"></i></span>
                                                <span class="elements-list-shadow-icon text-default"><i class="fas fa-quote-left"></i></span>
                                                <span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Blockquotes</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6 col-sm-4 col-lg-2">
                                <div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
                                    <div class="featured-box featured-box-no-borders featured-box-box-shadow">
                                        <a href="elements-word-rotator.html" class="text-decoration-none">
                                            <span class="box-content px-1 py-4 text-center d-block">
                                                <span class="text-primary text-8 position-relative top-3 mt-3"><i class="fab fa-autoprefixer"></i></span>
                                                <span class="elements-list-shadow-icon text-default"><i class="fab fa-autoprefixer"></i></span>
                                                <span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Word Rotator</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6 col-sm-4 col-lg-2">
                                <div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
                                    <div class="featured-box featured-box-no-borders featured-box-box-shadow">
                                        <a href="elements-before-after.html" class="text-decoration-none">
                                            <span class="box-content px-1 py-4 text-center d-block">
                                                <span class="text-primary text-8 position-relative top-3 mt-3"><i class="fas fa-arrows-alt-h"></i></span>
                                                <span class="elements-list-shadow-icon text-default"><i class="fas fa-arrows-alt-h"></i></span>
                                                <span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Before / After</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6 col-sm-4 col-lg-2">
                                <div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
                                    <div class="featured-box featured-box-no-borders featured-box-box-shadow">
                                        <a href="elements-typography.html" class="text-decoration-none">
                                            <span class="box-content px-1 py-4 text-center d-block">
                                                <span class="text-primary text-8 position-relative top-3 mt-3"><i class="fas fa-font"></i></span>
                                                <span class="elements-list-shadow-icon text-default"><i class="fas fa-font"></i></span>
                                                <span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Typography</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6 col-sm-4 col-lg-2">
                                <div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
                                    <div class="featured-box featured-box-no-borders featured-box-box-shadow">
                                        <a href="elements-call-to-action.html" class="text-decoration-none">
                                            <span class="box-content px-1 py-4 text-center d-block">
                                                <span class="text-primary text-8 position-relative top-3 mt-3"><i class="fas fa-external-link-alt"></i></span>
                                                <span class="elements-list-shadow-icon text-default"><i class="fas fa-external-link-alt"></i></span>
                                                <span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Call to Action</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6 col-sm-4 col-lg-2">
                                <div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
                                    <div class="featured-box featured-box-no-borders featured-box-box-shadow">
                                        <a href="elements-pricing-tables.html" class="text-decoration-none">
                                            <span class="box-content px-1 py-4 text-center d-block">
                                                <span class="text-primary text-8 position-relative top-3 mt-3"><i class="fas fa-dollar-sign"></i></span>
                                                <span class="elements-list-shadow-icon text-default"><i class="fas fa-dollar-sign"></i></span>
                                                <span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Pricing Tables</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6 col-sm-4 col-lg-2">
                                <div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
                                    <div class="featured-box featured-box-no-borders featured-box-box-shadow">
                                        <a href="elements-tables.html" class="text-decoration-none">
                                            <span class="box-content px-1 py-4 text-center d-block">
                                                <span class="text-primary text-8 position-relative top-3 mt-3"><i class="fas fa-table"></i></span>
                                                <span class="elements-list-shadow-icon text-default"><i class="fas fa-table"></i></span>
                                                <span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Tables</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6 col-sm-4 col-lg-2">
                                <div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
                                    <div class="featured-box featured-box-no-borders featured-box-box-shadow">
                                        <a href="elements-progressbars.html" class="text-decoration-none">
                                            <span class="box-content px-1 py-4 text-center d-block">
                                                <span class="text-primary text-8 position-relative top-3 mt-3"><i class="fas fa-chart-bar"></i></span>
                                                <span class="elements-list-shadow-icon text-default"><i class="fas fa-chart-bar"></i></span>
                                                <span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Progress Bars</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6 col-sm-4 col-lg-2">
                                <div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
                                    <div class="featured-box featured-box-no-borders featured-box-box-shadow">
                                        <a href="elements-process.html" class="text-decoration-none">
                                            <span class="box-content px-1 py-4 text-center d-block">
                                                <span class="text-primary text-8 position-relative top-3 mt-3"><i class="fas fa-bullseye"></i></span>
                                                <span class="elements-list-shadow-icon text-default"><i class="fas fa-bullseye"></i></span>
                                                <span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Process</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6 col-sm-4 col-lg-2">
                                <div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
                                    <div class="featured-box featured-box-no-borders featured-box-box-shadow">
                                        <a href="elements-counters.html" class="text-decoration-none">
                                            <span class="box-content px-1 py-4 text-center d-block">
                                                <span class="text-primary text-8 position-relative top-3 mt-3"><i class="fas fa-sort-numeric-down"></i></span>
                                                <span class="elements-list-shadow-icon text-default"><i class="fas fa-sort-numeric-down"></i></span>
                                                <span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Counters</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6 col-sm-4 col-lg-2">
                                <div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
                                    <div class="featured-box featured-box-no-borders featured-box-box-shadow">
                                        <a href="elements-countdowns.html" class="text-decoration-none">
                                            <span class="box-content px-1 py-4 text-center d-block">
                                                <span class="text-primary text-8 position-relative top-3 mt-3"><i class="far fa-clock"></i></span>
                                                <span class="elements-list-shadow-icon text-default"><i class="far fa-clock"></i></span>
                                                <span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Countdowns</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6 col-sm-4 col-lg-2">
                                <div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
                                    <div class="featured-box featured-box-no-borders featured-box-box-shadow">
                                        <a href="elements-sections-parallax.html" class="text-decoration-none">
                                            <span class="box-content px-1 py-4 text-center d-block">
                                                <span class="text-primary text-8 position-relative top-3 mt-3"><i class="fas fa-images"></i></span>
                                                <span class="elements-list-shadow-icon text-default"><i class="fas fa-images"></i></span>
                                                <span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Sections &amp; Parallax</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6 col-sm-4 col-lg-2">
                                <div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
                                    <div class="featured-box featured-box-no-borders featured-box-box-shadow">
                                        <a href="elements-tooltips-popovers.html" class="text-decoration-none">
                                            <span class="box-content px-1 py-4 text-center d-block">
                                                <span class="text-primary text-8 position-relative top-3 mt-3"><i class="far fa-comment-alt"></i></span>
                                                <span class="elements-list-shadow-icon text-default"><i class="far fa-comment-alt"></i></span>
                                                <span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Tooltips &amp; Popovers</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6 col-sm-4 col-lg-2">
                                <div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
                                    <div class="featured-box featured-box-no-borders featured-box-box-shadow">
                                        <a href="elements-sticky-elements.html" class="text-decoration-none">
                                            <span class="box-content px-1 py-4 text-center d-block">
                                                <span class="text-primary text-8 position-relative top-3 mt-3"><i class="fas fa-compress"></i></span>
                                                <span class="elements-list-shadow-icon text-default"><i class="fas fa-compress"></i></span>
                                                <span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Sticky Elements</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6 col-sm-4 col-lg-2">
                                <div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
                                    <div class="featured-box featured-box-no-borders featured-box-box-shadow">
                                        <a href="elements-headings.html" class="text-decoration-none">
                                            <span class="box-content px-1 py-4 text-center d-block">
                                                <span class="text-primary text-8 position-relative top-3 mt-3"><i class="fas fa-text-height"></i></span>
                                                <span class="elements-list-shadow-icon text-default"><i class="fas fa-text-height"></i></span>
                                                <span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Headings</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6 col-sm-4 col-lg-2">
                                <div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
                                    <div class="featured-box featured-box-no-borders featured-box-box-shadow">
                                        <a href="elements-dividers.html" class="text-decoration-none">
                                            <span class="box-content px-1 py-4 text-center d-block">
                                                <span class="text-primary text-8 position-relative top-3 mt-3"><i class="fas fa-align-center"></i></span>
                                                <span class="elements-list-shadow-icon text-default"><i class="fas fa-align-center"></i></span>
                                                <span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Dividers</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6 col-sm-4 col-lg-2">
                                <div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
                                    <div class="featured-box featured-box-no-borders featured-box-box-shadow">
                                        <a href="elements-animations.html" class="text-decoration-none">
                                            <span class="box-content px-1 py-4 text-center d-block">
                                                <span class="text-primary text-8 position-relative top-3 mt-3"><i class="fas fa-asterisk"></i></span>
                                                <span class="elements-list-shadow-icon text-default"><i class="fas fa-asterisk"></i></span>
                                                <span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Animations</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6 col-sm-4 col-lg-2">
                                <div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
                                    <div class="featured-box featured-box-no-borders featured-box-box-shadow">
                                        <a href="elements-medias.html" class="text-decoration-none">
                                            <span class="box-content px-1 py-4 text-center d-block">
                                                <span class="text-primary text-8 position-relative top-3 mt-3"><i class="far fa-play-circle"></i></span>
                                                <span class="elements-list-shadow-icon text-default"><i class="far fa-play-circle"></i></span>
                                                <span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Medias</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6 col-sm-4 col-lg-2">
                                <div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
                                    <div class="featured-box featured-box-no-borders featured-box-box-shadow">
                                        <a href="elements-maps.html" class="text-decoration-none">
                                            <span class="box-content px-1 py-4 text-center d-block">
                                                <span class="text-primary text-8 position-relative top-3 mt-3"><i class="far fa-map"></i></span>
                                                <span class="elements-list-shadow-icon text-default"><i class="far fa-map"></i></span>
                                                <span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Maps</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6 col-sm-4 col-lg-2">
                                <div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
                                    <div class="featured-box featured-box-no-borders featured-box-box-shadow">
                                        <a href="elements-arrows.html" class="text-decoration-none">
                                            <span class="box-content px-1 py-4 text-center d-block">
                                                <span class="text-primary text-8 position-relative top-3 mt-3"><i class="far fa-arrow-alt-circle-right"></i></span>
                                                <span class="elements-list-shadow-icon text-default"><i class="far fa-arrow-alt-circle-right"></i></span>
                                                <span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Arrows</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6 col-sm-4 col-lg-2">
                                <div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
                                    <div class="featured-box featured-box-no-borders featured-box-box-shadow">
                                        <a href="elements-star-ratings.html" class="text-decoration-none">
                                            <span class="box-content px-1 py-4 text-center d-block">
                                                <span class="text-primary text-8 position-relative top-3 mt-3"><i class="far fa-star"></i></span>
                                                <span class="elements-list-shadow-icon text-default"><i class="far fa-star"></i></span>
                                                <span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Star Ratings</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6 col-sm-4 col-lg-2">
                                <div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
                                    <div class="featured-box featured-box-no-borders featured-box-box-shadow">
                                        <a href="elements-alerts.html" class="text-decoration-none">
                                            <span class="box-content px-1 py-4 text-center d-block">
                                                <span class="text-primary text-8 position-relative top-3 mt-3"><i class="fas fa-exclamation-triangle"></i></span>
                                                <span class="elements-list-shadow-icon text-default"><i class="fas fa-exclamation-triangle"></i></span>
                                                <span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Alerts</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6 col-sm-4 col-lg-2">
                                <div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
                                    <div class="featured-box featured-box-no-borders featured-box-box-shadow">
                                        <a href="elements-posts.html" class="text-decoration-none">
                                            <span class="box-content px-1 py-4 text-center d-block">
                                                <span class="text-primary text-8 position-relative top-3 mt-3"><i class="far fa-calendar-alt"></i></span>
                                                <span class="elements-list-shadow-icon text-default"><i class="far fa-calendar-alt"></i></span>
                                                <span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Posts</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6 col-sm-4 col-lg-2">
                                <div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
                                    <div class="featured-box featured-box-no-borders featured-box-box-shadow">
                                        <a href="elements-forms.html" class="text-decoration-none">
                                            <span class="box-content px-1 py-4 text-center d-block">
                                                <span class="text-primary text-8 position-relative top-3 mt-3"><i class="far fa-file-alt"></i></span>
                                                <span class="elements-list-shadow-icon text-default"><i class="far fa-file-alt"></i></span>
                                                <span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Forms</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6 col-sm-4 col-lg-2">
                                <div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
                                    <div class="featured-box featured-box-no-borders featured-box-box-shadow">
                                        <a href="elements-360-image-viewer.html" class="text-decoration-none">
                                            <span class="box-content px-1 py-4 text-center d-block">
                                                <span class="text-primary text-8 position-relative top-3 mt-3"><i class="fas fa-sync-alt"></i></span>
                                                <span class="elements-list-shadow-icon text-default"><i class="fas fa-sync-alt"></i></span>
                                                <span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">360º Image Viewer</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6 col-sm-4 col-lg-2">
                                <div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
                                    <div class="featured-box featured-box-no-borders featured-box-box-shadow">
                                        <a href="elements-shape-dividers.html" class="text-decoration-none">
                                            <span class="box-content px-1 py-4 text-center d-block">
                                                <span class="text-primary text-8 position-relative top-3 mt-3"><i class="fas fa-divide"></i></span>
                                                <span class="elements-list-shadow-icon text-default"><i class="fas fa-divide"></i></span>
                                                <span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Shape Dividers</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6 col-sm-4 col-lg-2">
                                <div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
                                    <div class="featured-box featured-box-no-borders featured-box-box-shadow">
                                        <a href="elements-read-more.html" class="text-decoration-none">
                                            <span class="box-content px-1 py-4 text-center d-block">
                                                <span class="text-primary text-8 position-relative top-3 mt-3"><i class="far fa-plus-square"></i></span>
                                                <span class="elements-list-shadow-icon text-default"><i class="far fa-plus-square"></i></span>
                                                <span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Read More</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6 col-sm-4 col-lg-2">
                                <div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
                                    <div class="featured-box featured-box-no-borders featured-box-box-shadow">
                                        <a href="elements-cascading-images.html" class="text-decoration-none">
                                            <span class="box-content px-1 py-4 text-center d-block">
                                                <span class="text-primary text-8 position-relative top-3 mt-3"><i class="far fa-images"></i></span>
                                                <span class="elements-list-shadow-icon text-default"><i class="far fa-images"></i></span>
                                                <span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Cascading Images</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6 col-sm-4 col-lg-2">
                                <div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
                                    <div class="featured-box featured-box-no-borders featured-box-box-shadow">
                                        <a href="elements-random-images.html" class="text-decoration-none">
                                            <span class="box-content px-1 py-4 text-center d-block">
                                                <span class="text-primary text-8 position-relative top-3 mt-3"><i class="fas fa-random"></i></span>
                                                <span class="elements-list-shadow-icon text-default"><i class="fas fa-random"></i></span>
                                                <span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Random Images</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </section>
            </div>
            <section class="section section-dark section-angled border-0 lazyload pb-0 m-0" style="background-size: 100%; background-position: top;" data-bg-src="img/landing/build_bg.jpg">
                <div class="section-angled-layer-top section-angled-layer-increase-angle bg-color-light-scale-1" style="padding: 4rem 0;"></div>
                <div class="container text-center my-5 py-5">
                    <h2 class="font-weight-bold line-height-3 text-12 mt-5 mb-3 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="250" data-appear-animation-duration="750">Build your website with Porto</h2>
                    <h4 class="font-weight-bold text-9 mb-4 pb-2 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="500" data-appear-animation-duration="750">Purchase now. Only <span class="highlighted-word highlighted-word-animation-1 highlighted-word-animation-1-no-rotate highlighted-word-animation-1 highlighted-word-animation-1-light alternative-font-4 font-weight-extra-bold text-4 light appear-animation" data-appear-animation="blurIn" data-appear-animation-delay="800" data-appear-animation-duration="750">$16!</span></h4>
                    <div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900" data-appear-animation-duration="750">
                        <h4 class="font-weight-light text-4 col-lg-6 px-0 offset-lg-3 fw-400 mb-5 opacity-8">Porto Template has been available on ThemeForest since 2013 and is one of the top sellers with more than 40K+ sales.</h4>
                    </div>
                    <div class="col-12 px-0 pb-2 mb-4">
                        <div class="row flex-column flex-lg-row justify-content-center">
                            <div class="col-auto">
                                <h5 class="font-weight-semibold text-4 positive-ls-2 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="1100" data-appear-animation-duration="750"><i class="fa fa-check"></i> SUPER HIGH PERFORMANCE</h5>
                            </div>
                            <div class="col-auto mx-5 my-2 my-lg-0">
                                <h5 class="font-weight-semibold text-4 positive-ls-2 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="1400" data-appear-animation-duration="750"><i class="fa fa-check"></i> Strict Coding Standards</h5>
                            </div>
                            <div class="col-auto">
                                <h5 class="font-weight-semibold text-4 positive-ls-2 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="1600" data-appear-animation-duration="750"><i class="fa fa-check"></i> Free Lifetime Updates</h5>
                            </div>
                        </div>
                    </div>
                    <a href="https://themeforest.net/checkout/from_item/4106987?license=regular&support=bundle_6month&ref=Okler" class="btn btn-dark btn-modern btn-rounded px-5 btn-py-3 text-4 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="1800" data-appear-animation-duration="750" target="_blank">BUY PORTO NOW</a>
                </div>
                <div class="row border border-start-0 border-bottom-0 border-end-0 border-color-light-2">
                    <div class="col-6 col-md-3 text-center d-flex align-items-center justify-content-center py-4">
                        <a href="http://www.okler.net/" class="text-decoration-none" target="_blank">
                            <div class="icon-box">
                                <i class="icon-bg icon-menu-1"></i>
                                <h4 class="text-4 mb-0">Customer Showcase<small class="d-block p-relative bottom-4 opacity-6 ls-0">(SAMPLE SITES)</small></h4>
                            </div>
                        </a>
                    </div>
                    <div class="col-6 col-md-3 text-center divider-left-border border-color-light-2 d-flex align-items-center justify-content-center py-4">
                        <a href="http://www.okler.net/open-a-ticket/" class="text-decoration-none" target="_blank">
                            <div class="icon-box">
                                <i class="icon-bg icon-menu-2"></i>
                                <h4 class="text-4 mb-0">Support Center</h4>
                            </div>
                        </a>
                    </div>
                    <div class="col-6 col-md-3 text-center divider-left-border border-color-light-2 d-flex align-items-center justify-content-center py-4">
                        <a href="http://www.okler.net/" class="text-decoration-none" target="_blank">
                            <div class="icon-box">
                                <i class="icon-bg icon-menu-3"></i>
                                <h4 class="text-4 mb-0">Online Documentation</h4>
                            </div>
                        </a>
                    </div>
                    <div class="col-6 col-md-3 text-center divider-left-border border-color-light-2 d-flex align-items-center justify-content-center py-4 opacity-5">
                        <a href="http://www.okler.net/" class="text-decoration-none" target="_blank">
                            <div class="icon-box">
                                <i class="icon-bg icon-menu-4"></i>
                                <h4 class="font-weight-500 text-color-light line-height-1 text-4 mt-0 mb-2">Video Tutorials<br><span class="text-2 d-block pt-1">(coming soon)</span></h4>
                            </div>
                        </a>
                    </div>
                </div>
            </section>

            <section class="section bg-color-dark-scale-2 border-0 m-0 py-4">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <ul class="list list-unstyled list-inline d-flex align-items-center justify-content-center flex-column flex-lg-row mb-0">
                                <li class="list-inline-item custom-text-color-1 color-inherit mb-lg-0 text-2 pe-2">Porto Versions:</li>
                                <li class="list-inline-item mb-lg-0"><a href="https://themeforest.net/item/porto-admin-responsive-html5-template/8539472?s_rank=2" class="btn btn-dark btn-modern btn-rounded btn-px-4 py-3 border-0" target="_blank">ADMIN HTML</a></li>
                                <li class="list-inline-item mb-lg-0"><a href="https://themeforest.net/item/porto-ecommerce-shop-template/22685562" class="btn btn-dark btn-modern btn-rounded btn-px-4 py-3 border-0" target="_blank">SHOP HTML</a></li>
                                <li class="list-inline-item mb-lg-0"><a href="https://themeforest.net/item/porto-responsive-wordpress-ecommerce-theme/9207399" class="btn btn-dark btn-modern btn-rounded btn-px-4 py-3 border-0" target="_blank">WORDPRESS</a></li>
                                <li class="list-inline-item mb-lg-0"><a href="https://themeforest.net/item/porto-ultimate-responsive-magento-theme/9725864" class="btn btn-dark btn-modern btn-rounded btn-px-4 py-3 border-0" target="_blank">MAGENTO</a></li>
                                <li class="list-inline-item mb-lg-0"><a href="https://themeforest.net/item/porto-ultimate-responsive-shopify-theme/19162959" class="btn btn-dark btn-modern btn-rounded btn-px-4 py-3 border-0" target="_blank">SHOPIFY</a></li>
                                <li class="list-inline-item mb-lg-0"><a href="https://themeforest.net/item/porto-responsive-drupal-7-theme/5219986" class="btn btn-dark btn-modern btn-rounded btn-px-4 py-3 border-0" target="_blank">DRUPAL</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>

  
